body{
    background-color: #F8F4E9;
}

.question-wrapper {
    width: 35rem;
    border-bottom: 1px solid #DEE4F1; 
    margin: 0 auto;
    padding: 1rem;
    transition: 1s;
  }
  
  .question {
    display: flex;
    font-weight: 500;
    color: #212943;  
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .button:focus {
    outline: none;
  }
  
  .answer {
    display: none;
  }
  
  .answer.active {
    display: block;
    text-align: left;
    padding-top: 1.5rem;
    font-weight: light;
    line-height: 1.5;
    height: 0%;
    animation: slidein 0.4s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slidein {
    from {
      opacity: 0.3;
      transform: translateY(-20%)
    } to {
      opacity: 1;
      transform: translateY(0%);
    }
  }